html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0, 0, 0, 0.25);
}

button[disabled] {
  color: #767676;
  cursor: default;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pomodoro {
  width: 100%;
}

.Clock {
  color: #FFF;
  background: #000;
  font-size: 5em;
  flex: 1;
  text-align: center;
}

.ModeList {
  display: flex;
  background: #000;
}

.ModeItem {
  flex: 1;
  height: 80px;
  padding: 10px;
  text-align: center;
  color: #FFF;
}

.Controls {
  display: flex;
}

.Controls__Button {
  flex: 1;
  height: 80px;
  padding: 10px;
  text-align: center;
}

.Controls__Button {
  color: #FFF;
  background: #8F8F8F;
}

.Controls__Start {
  color: #50D666;
  background: #1A3510;
}

.Controls__Reset {
  color: #FFF;
  background: #8F8F8F;
}

.Controls__Stop,
.Controls__Ok {
  color: #DE3933;
  background: #350D0C;
}


/* Utilities */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}
